[Unit]
Description=PowerDNSLoadBalancer
ConditionFileIsExecutable=/root/go/src/github.com/ploadb/ploadb


[Service]
Type=simple
RuntimeMaxSec=1800
ExecStart=/root/go/src/github.com/ploadb/ploadb


Restart=always

EnvironmentFile=-/etc/sysconfig/ploadb

[Install]
WantedBy=multi-user.target



